<section class="form-container">
    <h2>Create Product Card</h2>
    <form method="post">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name">

        <label for="skin">Skin Type:</label>
        <textarea id="skin" name="skin"></textarea>

        <label for="description">Product Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="ingredients">Key Ingredients:</label>
        <textarea id="ingredients" name="ingredients"></textarea>

        <label for="benefits">Benefits:</label>
        <textarea id="benefits" name="benefits"></textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" name="number">

        <label for="image">Image URL:</label>
        <input type="url" id="image" name="image">

        <button type="submit">Create Product Card</button>
    </form>
</section>